{% load static %}
<div id="heaher" class="item">
	<div class="inner wl">
		<div class="logo">
			<a href="" title="{{ logo.describe }}"><img src="{{ MEDIA_URL }}{{ logo.image }}" width="200" height="80"></a>
		</div>
		<div class="headnav" id="navigate">
			<ul>
				<li><a class="sel" href="{% url 'index:index' %}">首页</a></li>
				<li><a href="productcentre.html">产品中心</a></li>
				<li><a href="SuccessCase.html">成功案例</a></li>
				<li><a href="server.html">服务项目</a></li>
				<li><a href="safe.html">安全理念</a></li>
				<li><a href="{% url 'new:new_list' %}">新闻动态</a></li>
				<li><a href="about.html">关于我们</a></li>
				<li><a href="/admin" target="_blank">后台</a></li>
			</ul>
		</div>
	</div>
</div>