{% load static %}
<div id="heaher" class="item">
	<div class="inner wl">
		<div class="logo">
			<a href="" title="{{ logo.describe }}"><img src="{{ MEDIA_URL }}{{ logo.image }}" width="200" height="80" alt="这里是公司logo"></a>
		</div>
		<div class="headnav" id="navigate">
			<ul>
				<li><a href="{% url 'index:index' %}">首页</a></li>
				<li><a href="/" onclick="alert('暂未开发,敬请期待')">产品中心</a></li>
				<li><a {% ifequal request.path '/success_case/' %} class="sel" {% endifequal %} href="{% url 'success_case:index' %}">成功案例</a></li>
				<li><a {% ifequal request.path '/server/' %} class="sel" {% endifequal %}href="{% url 'server:index' %}">服务项目</a></li>
				<li><a {% ifequal request.path '/safe/' %} class="sel" {% endifequal %} href="{% url 'safe:index' %}">安全理念</a></li>
				<li><a {% ifequal request.path '/new/newlist/' %} class="sel" {% endifequal %}href="{% url 'new:new_list' %}">新闻动态</a></li>
				<li><a {% ifequal request.path '/about_us/' %} class="sel" {% endifequal %}href="{% url 'about_us:index' %}">关于我们</a></li>
				<li><a href="/admin/" target="_blank">后台</a></li>
			</ul>
		</div>
	</div>
</div>