{% extends 'base.html' %}
{% load static %}
{% block title %}首页{% endblock %}

{% block body %}
    <body id="body">

<script type="text/javascript">
    $("#navigate a").each(function(){var e=this.href.toLowerCase().substring(0,this.href.length-5);document.location.href.toLocaleLowerCase().indexOf(e)>-1&&($("#navigate a").removeClass("sel"),$(this).addClass("sel"))});
</script>

<div id="slides" class="visual item">
	<ul class="slides-container">
        {% for banner in banners %}
            <li style="background:url({{ MEDIA_URL }}{{ banner.image }}) center no-repeat">
                <a href="{{ banner.url }}" target="_blank" title="{{ banner.describe }}"></a>
            </li>
        {% endfor %}
	</ul>
	<div class="prev icons">
		<a href="#"></a>
	</div>
	<div class="next icons">
		<a href="#"></a>
	</div>
	<div class="slideControl pagination">
		<span><a href="#" rel="0"></a></span>
        <span><a href="#" rel="1"></a></span>
        <span><a href="#" rel="2"></a></span>
	</div>
</div>
<div class="index-graybox item" id="flow">
	<div class="wl index-graycon">
		<div class="index-announce">
			<a href="{% url 'new:new_list'%}?classify=announcement" class="index-announce-til">最新公告</a>
			<div class="index-announce-inc">
				<div class="announce-info">
					<ul>
                        {% for announcement in announcements %}
                        <li>{{ announcement.title }}</li>
                        {% endfor %}
					</ul>
				</div>
				<div class="announce-btn">
					<a id="announce-btn-up" class="icons btn-up" href="javascript:;" style="cursor:pointer"></a><a id="announce-btn-down" class="icons btn-down" href="javascript:;" style="cursor:pointer"></a>
				</div>
			</div>
			<div class="icons announce-btn-end">
			</div>
		</div>
<!-- 		<div class="index-contact">
			<a target="_blank" href="#"><em class="icons ico-phone"></em>
			<div class="contact-text">
				<p class="con-text">
					<span>咨询热线：</span><em>400-811-4655</em>
				</p>
				<p class="con-arrow">
					<em class="icons ico-con-arrow"></em>
				</p>
			</div>
			</a><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2880709080&site=qq&menu=yes"><em class="icons ico-qq"></em>
			<div class="contact-text">
				<p class="con-text">
					<span>企业QQ：</span><em>2880709080</em>
				</p>
				<p class="con-arrow">
					<em class="icons ico-con-arrow"></em>
				</p>
			</div>
			</a><a href="mailto:kefu@ixundai.com"><em class="icons ico-msg"></em>
			<div class="contact-text">
				<p class="con-text">
					<span>邮箱地址：</span><em>kefu@ixundai.com</em>
				</p>
				<p class="con-arrow">
					<em class="icons ico-con-arrow"></em>
				</p>
			</div>
			</a>
		</div> -->
		<div class="index-flow">
			<ul>
				<li><em class="icons early"></em>前期策划沟通<br>
				COMMUNICATIONS</li>
				<li><em class="icons design"></em>视觉及交互设计<br>
				VISUAL AND DESIGN</li>
				<li><em class="icons html"></em>前端表现及功能开发<br>
				HTML/CSS/TLoan</li>
				<li><em class="icons test"></em>测试调整阶段<br>
				ADJUSTMENT/TEST</li>
			</ul>
		</div>
	</div>
</div>
<div class="index-aboutbox item" id="about">
	<div class="wl index-aboutcon">
		<div class="slogan f1">
			<div class="fl">
				<span><font class="fs24">远瞻</font>积淀专业</span><span><font class="fs24">专业</font>打造安全</span><span><font class="fs24">安全</font>赢得市场</span>
			</div>
			<div class="fr">
				<span><font class="f24">互联网金融行业领航者</font></span>
			</div>
		</div>
		<div class="firm">
			<div class="font">
				<span class="f2 fs36">About Us</span><br>
				<span class="f2 fs36">&amp;</span><br>
				<span class="f3 fs20">{{ information.name }}</span>
			</div>
			<p class="fs16">
                {{ information.introduce }}
			</p>
		</div>
	</div>
</div>
<div class="box-end icons">
</div>
<div class="wl index-advantagebox item" id="advantage">
	<div class="font">
		<span class="f2 fs36 c1">Our Advantages</span><br>
		<span class="f2 fs36 c1">&amp;</span><br>
		<span class="f3 fs20 c2">我们的优势</span>
	</div>
	<div class="colorcirclemainbox">
		<div class="colorcirclebox">
			<div class="colorcircle col-1">
				<em class="icons"></em>
			</div>
			<p>
				TLoan系统功能完善、稳定、高效、易用、简洁、安全
			</p>
		</div>
		<div class="colorcirclebox">
			<div class="colorcircle col-2">
				<em class="icons"></em>
			</div>
			<p>
				根据特点，全力打造具有知识产权的framework
			</p>
		</div>
		<div class="colorcirclebox">
			<div class="colorcircle col-3">
				<em class="icons"></em>
			</div>
			<p>
				基于C#语言开发，采用标准MVC，能进行集群部署
			</p>
		</div>
		<div class="colorcirclebox">
			<div class="colorcircle col-4">
				<em class="icons"></em>
			</div>
			<p>
				系统具有高扩展性，高效性，很方便根据客户的具体要求进行二次开发
			</p>
		</div>
		<div class="colorcirclebox">
			<div class="colorcircle col-5">
				<em class="icons"></em>
			</div>
			<p>
				精确的数据统计，网站的每笔资金都能找到来源和去向，方便跟踪
			</p>
		</div>
		<div class="colorcirclebox">
			<div class="colorcircle col-6">
				<em class="icons"></em>
			</div>
			<p>
				提供完善的管理机制，从前台页面到账户中心页面交互设计
			</p>
		</div>
		<div class="colorcirclebox">
			<div class="colorcircle col-7">
				<em class="icons"></em>
			</div>
			<p>
				大量使用AJAX局部刷新技术提交和获取数据，减少服务器负担、提升用户体验
			</p>
		</div>
	</div>
</div>
<div class="index-serbox item" id="serve">
	<div class="wl inbox">
		<div class="font">
			<span class="f2 fs36">Our Services</span><br>
			<span class="f2 fs36">&amp;</span><br>
			<span class="f3 fs20">我们的服务</span>
			<p class="lh56 f1 fs16">
				最贴心客服 资深团队 全业务流 多元化 全方位解析
			</p>
		</div>
		<div id="marquee1" class="marqueeleft">
			<div style="width:8000px">
				<ul id="marquee1_1">
                    {% for service in services %}
					<li><a href="{{ service.url }}"><img src="{{ MEDIA_URL }}{{ service.image }}">
					<p>
                        {{ service.describe }}
					</p>
					</a></li>
                    {% endfor %}
				</ul>
				<ul id="marquee1_2">
				</ul>
			</div>
		</div>
		<script type="text/javascript">marqueeStart(1,"left");</script>
	</div>
</div>
<div class="wl index-newsbox item" id="news">
	<div class="til">
		<span class="c1">资讯中心</span>|<span class="f2">News</span>
        <a href="{% url 'new:new_list' %}" target="_blank" class="fr c1">More+</a>
	</div>
	<div class="newsboxi">
		<div class="newsboxi-b">
            <a href="http://gsxt.ngsh.gov.cn:9080/ECPS/company/detail.jspx?id=2AE01080E2BDD2EDDA6A4DFF633722E7&jyzk=jyzc" target="_blank">
                <h2>星之羽网络科技有限责任公司成立</h2>
            </a>
			<p>
				2019年1月29日，星之羽网络科技有限责任公司成功在宁夏正式挂牌
                <br>
                企业简称：星之羽。
                <br>
                企业代码：91640522MA771D71XT。

			</p>
			<a href="" target="_blank" class="btn-look">查看</a>
		</div>
		<div class="newsboxi-b">
			<ul>
                {% for new in news %}
                    <li class="nt"><a href="{% url 'new:article' new.classify new.id %}" target="_blank">{{ new.title | slice:':5' }}</a>
                        <span>[{{ new.add_time }}]</span></li>
                {% endfor %}

			</ul>
		</div>
	</div>
</div>
<div class="index-team item" id="team">
	<div class="font c1">
		<span class="f2 fs36">Our Team</span><br>
		<span class="f2 fs36">&amp;</span><br>
		<span class="f3 fs20">我们的团队</span>
		<p class="lh56 f1 fs16">
			我们多位资深工程师全天候保证平台平稳运营
		</p>
	</div>
	<div id="marquee2" class="marqueeleft-2">
		<div style="width:8000px">
			<ul id="marquee2_1">
                {% for each in team %}
                <li><img src="{{ MEDIA_URL }}{{ each.photo }}">
				<p class="name">
					{{ each.name }}
				</p>
				<p class="han">
					{{ each.introduce }}
				</p>
				</li>
                {% endfor %}

			</ul>
			<ul id="marquee2_2">
			</ul>
		</div>
		<script type="text/javascript">marqueeStart(2,"left");</script>
	</div>
</div>
<div class="index-partners wl item" id="par">
	<div class="box-end-2 icons">
	</div>
	<div class="font">
		<span class="f2 fs36">Partners</span><br>
		<span class="f2 fs36">&amp;</span><br>
		<span class="f3 fs20 c2">合作伙伴</span>
	</div>
	<div class="par_mainbox">
        {% for partner in partners %}
		    <div class="par-imgbox">
			<div class="par-img">
				<a href="#" target="_blank"><img src="{{ MEDIA_URL }}{{ partner.image }}"></a>
			</div>
			{{ partner.name }}
		</div>
        {% endfor %}
	</div>
</div>
<div id="go">
	<div class="f-box">
		<a href="#about" class="fon1"><span>介绍</span><em></em></a>
	</div>
	<div class="f-box">
		<a href="#advantage" class="fon1"><span>优势</span><em></em></a>
	</div>
	<div class="f-box">
		<a href="#serve" class="fon1"><span>服务</span><em></em></a>
	</div>
	<div class="f-box">
		<a href="#news" class="fon1"><span>资讯</span><em></em></a>
	</div>
	<div class="f-box">
		<a href="#team" class="fon1"><span>团队</span><em></em></a>
	</div>
	<div class="f-box">
		<a href="#par" class="fon1"><span>合作</span><em></em></a>
	</div>
</div>
<script type="text/javascript" language="javascript">$(document).ready(function(){$(".fon1").anchorGoWhere({target:1})});</script>
<div id="rig-suspend">
	<div class="toptil">
		<p class="fs16">
			{{ information.name | slice:':5'}}
		</p>
		<p style="color:#000;font-size:16px">
            {{ information.mobile }}
		</p>
	</div>
	<div class="colbox sus-qq">
		<a href="#">QQ咨询</a><a class="block-qq" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={{ information.qq }}&site=qq&menu=yes">{{ information.qq }}</a>
	</div>
	<div class="colbox sus-phone">
		<a href="{{ information.email }}">邮箱地址</a>
		<em>{{ information.email }}</em>
	</div>
	<div class="colbox sus-address">
		<a href="content/about.html">公司地址</a>
	</div>
	<div class="colbox sus-news">
		<a href="{% url 'new:new_list' %}">新闻动态</a>
	</div>
	<div class="colbox sus-about">
		<a href="content/about.html">关于我们</a>
	</div>
</div>
</body>
{% endblock %}
