{% extends 'base.html' %}
{% load static %}
{% block title %}新闻动态{% endblock %}

{% block body %}
<body>
<script type="text/javascript">
    $("#navigate a").each(function () {
        var link = this.href.toLowerCase().substring(0,this.href.length-5);
        if (document.location.href.toLocaleLowerCase().indexOf(link) > -1) {
            $("#navigate a").removeClass("sel");
            $(this).addClass("sel");
        }
    });
</script>
<!--/Header-->
<div class="banner" style="background: url({% static 'images/news_banner.jpg' %}) center no-repeat;height:400px">
</div>
<!--公告联系方式-->
<div class="index-graybox item" id="flow">
	<div class="wl index-graycon">
		<!--制作流程-->
		<div class="index-flow">
			<ul>
				<li><em class="icons early"></em>前期策划沟通<br/>COMMUNICATIONS</li>
				<li><em class="icons design"></em>视觉及交互设计<br/>VISUAL AND DESIGN</li>
				<li><em class="icons html"></em>前端表现及功能开发<br/>HTML/CSS/TLoan</li>
				<li><em class="icons test"></em>测试调整阶段<br/>ADJUSTMENT/TEST</li>
			</ul>
		</div>
		<!--制作流程end-->
	</div>
</div>
<!--公告联系方式end-->
<div class="n-til">
	<span class="span">{{ article.get_classify_display }}</span>
</div>
<div class="n-main">
	<div class="n-title">
		<h2>{{ article.title }}</h2>
		<span>发布时间：{{ article.add_time }}
		</span>
		<span>来源：本站</span>
		<span>作者：{{ article.author }}</span>
		<span>浏览量：{{ article.read_num }}</span>
	</div>
	<div class="n-content">
        {{ article.content |safe }}
	</div>
	<div class="n-add">
		<span class="n-prev">上一篇：<a href="news/show-311.html"></a></span>
        <span class="n-next">下一篇：</span>
	</div>
</div>
</body>
{% endblock %}
