{% extends 'base.html' %}
{% load static %}
{% block title %}新闻动态{% endblock %}

{% block body %}
<body>
<script type="text/javascript">
    $("#navigate a").each(function () {
        var link = this.href.toLowerCase().substring(0,this.href.length-5);
        if (document.location.href.toLocaleLowerCase().indexOf(link) > -1) {
            $("#navigate a").removeClass("sel");
            $(this).addClass("sel");
        }
    });
</script>
<!--/Header-->
<div class="banner" style="background: url({% static 'images/news_banner.jpg' %}) center no-repeat;height:400px">
</div>
<!--内容列-->
<div class="wl newsbox" id="till">
	<div class="til">
		<span class="span"><a href="{% url 'new:new_list' %}">新闻资讯 ></a></span>
		<ul id="menu1">
            {% for key,value in classifies.items %}
                <li {% ifequal key request.GET.classify %}class="con"{% endifequal %}>
                    <a href="?classify={{ key }}">{{ value }}</a>
                </li>
            {% endfor %}
		</ul>
	</div>
	<div class="main" id="main1">
		<ul class="block">
			<!--取得一个分页DataTable-->
            {% for new in news.object_list %}
			<li>
			<a href="{% url 'new:article' new.classify new.id %}" target="_blank">
			    <h2>{{ new.title }}</h2>
			</a>
			<div class="inside">
				<div class="picbox">
					<img src="{{ MEDIA_URL }}{{ new.image }}" style="width: 137px; height: 122px;"/>
				</div>
				<p>
					{{ new.intro }}
				</p>
				<span class="views">阅读({{ new.read_num }})</span><span class="datetime">{{ new.add_time.date }}</span>
			</div>
			</li>
            {% endfor %}
			<div id="page">
{#				<span>共<font>96</font>条记录 </span>#}
{#                <span class="disabled">&lt;</span>#}
{#                <span class="current">1</span>#}
{#                <a href="#">2</a>#}
{#                <a href="#">3</a>#}
{#                <a class="np" href="{{ news }}">&gt;</a>#}

                {{ news.render }}
			</div>
		</ul>
	</div>
</div>
</body>
{% endblock %}

